.bmo{
  font-size: medium;
}
.menuItems{
  background-color: rgb(240,240,240);
  height: 100vh;
  
}

.componentArea{
  background-color:rgb(250,250,250);
  height: 100vh;
}
.taskList{
  margin: 20px;
}